<section>
  <div class="page-header">
    <h1>{{vm.schedule._id ? 'Edit schedule' : 'New schedule'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.scheduleForm" class="form-horizontal" ng-submit="vm.save(vm.form.scheduleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label"  for="term._id">Term</label>
          <select name="term._id" type="select"  data-ng-model="vm.schedule.term" id="term._id" class="form-control" required>
            <option ng-repeat="chosenTerm in vm.terms" value="{{ chosenTerm._id }}">{{ chosenTerm.termName }}</option>
          </select>
          <div ng-messages="vm.form.scheduleForm.term.$error" role="alert">
            <p class="help-block error-text" ng-message="required">the schedule term is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.schedule._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
