<!DOCTYPE html>
<html ng-app="map">
  <head>
    <script src='../../../../public/lib/angular/angular.min.js'></script>
    <script src='../../../../node_modules/lodash/lodash.min.js'></script>
    <script src='../../../../node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='../../../../node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>
  </head>
  <body>
   <p>Welcome to <it>Thompson Hall</it></p>
   <div>Select a Schedule:</div>
 <!-- TODO:
      - Drop down of the schedueles
      - filter the schedule and class ids into names
      - get the location data from the term, then pop it up on the map
  -->
  <select class="form-control" ng-change="vm.showClasses()" data-ng-model="vm.selectedSchedule">
    <option ng-repeat="schedule in vm.schedules" value="{{schedule}}" >{{ vm.findTerm(schedule.term) }} ({{ schedule.classes.length }} classes)</option>

  </select>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    <div>Select a Class:</div>
    <select class="form-control" data-ng-model="vm.selectedClass" ng-change="vm.showLocationOnMap()">
      <option ng-repeat="class in vm.classesToDisplay " value={{class}}> {{class.name}}: {{ class.times[0].days}}, {{class.times[0].startTime}}-{{class.times[0].endTime}} </option>
    </select>
  </body>
</html>
